body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.left-chile-of-section1{
    width:700px;
    height: 450px;
    margin-right: 50px;
    margin-top: 100px;
    padding-right: 10px;
  
}
.right-chile-of-section1{
    width:550px;
    height: 450px;
}
.right-chile-of-section1 img{
   
    width: 70%;
}
.parent-of-section1{
    display: flex;
    justify-content: space-evenly;
}
#title-of-section1{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    border-left: 4px solid tomato;
    padding-left: 10px;
}
.title-color{
    color:orange;
}
.button-of-sections{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10px 26px;
    border-radius: 8px;
}
.chile-of-section2{
    width:440px;
    height:450px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 15px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 30px;
}
.chile-of-section2 img{
    width: 50%;
}
.parent-of-section2{
    display: flex;
    justify-content: center;
}
.parent-of-section2 h1{
    text-align: center;
}
.parent-of-section2 img{
    margin-left: 100px;
}
.parent-of-section2 p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
#title-of-section2{
    text-align: center;
    font-size: 52px;
}
.left-chile-of-section2{
 background-color: rgba(54, 221, 221, 0.11);
}
.middle-chile-of-section2{
    background-color: rgba(228, 53, 22, 0.116);
}
.right-chile-of-section2{
    background-color: rgba(219, 147, 13, 0.123);

}
.left-child-of-section3-and-right-child-of-section4{
    width: 400px;
    height: 400px;
    margin-left: 60px;
}
.left-child-of-section3-and-right-child-of-section4 img{
    width: 100%;
}
.right-child-of-section3{
    width: 800px;
    height: 400px;
    margin-left: 100px;
}
.parent-of-section3-and-section4{
   display: flex;
   margin-top: 50px;
   margin-bottom: 50px;
}
.parent-of-section3{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position:right;
}
.title-of-section3-section4-and-section5{
    font-size: 50px;
}
.left-child-of-section4-and-right-child-of-parent2-of-section5{
    width: 850px;
    height: 450px;
    margin-left: 70px;
}
.parent1-of-section5{
    justify-content: center;
    width: 50%;
    margin-left: 400px;
}
.chile-of-section5-of-parent1{
    text-align: center;
}
.parent1-of-section5 button{
    margin-left: 300px;
    font-size: 18px;
}
.parent2-of-section5 img{
    width: 90%;
    height: 90%;
    border-radius: 100%;
}
.parent2-of-section5{
    display: flex;
    justify-content: start;
}
.section5{
    background-color: rgba(0, 139, 139, 0.151);
    }
.last-mission{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
.last-mission span{
    color: tomato;
}
.footer{
    text-align: center;
    color:white;
    margin-bottom: 40px;
}
.last-section{
    background-color: black;
    border: 15px solid black;
}
